.header {
  height: 80px;
  background-color: rgba(240, 255, 255, 0.7);
  backdrop-filter: blur(3px);
  /* padding: 0 30px; */
  box-sizing: border-box;
  border-bottom: 1px solid rgba(173, 216, 230, 0.514);
  width: 100%;

  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}
.article {
    width: 60%;
    margin: 30px auto;
    text-align: justify;
}
.article>h1, .article>h4, .article>i {
    display: block;
    text-align: center;
}
.article>i {
    margin-bottom: 30px;
}
.sub_wrapper {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;align-items: center;
}
.footer {
    height: 60px;
    background-color: lightblue;
    z-index: 1;
}
#go_to_top {
    /* background-color: yellow; */
    display: inline;
    position: fixed;
    top: 92vh;
    left: 95vw;
    z-index: 0;
}
#go_to_top > a> img {
    height: 50px;
}
#reset_zoom {
    background: black;
    color: white;
    border-radius: 0.4rem;
    /* font-weight: 600; */
    text-transform: uppercase;
    padding: 3px 10px;
    border: 1px solid darkslategray;
    font-size: 12px;
}
.map_btns {
    display: flex;
    justify-content: space-between;
    width: 600px;
}
.annotate {
    position: absolute;
    background-color: white;
    border-radius: 0.3rem;
    border: 1px solid lightgrey;
    height: 100px;
    width: 100px;
}